# folder
/.circleci 
/.github
/node_modules
/coverage
/.husky
/.config
/.parcel-cache
/codeForDoc
/.opensource
/.husky
/scripts
/src
/functions

# ignore file
.gitignore
.npmignore

# config file
jest.**
.eslintrc.js
.prettierrc.js
babel.**
tsconfig.**
lgtm.yml
.parcelrc
**.rules.json
firebase.json
.firebaserc
.eslintignore
rollup.**

# env
env.json
.env
.firebaserc

# types
/types/**/*
!/types/**/*.ts
**/*.test.d.ts
**/*.test.js
**/*.tgz
**/*.log

# misc
CHANGELOG.md
package-lock.json
note.txt
CONTRIBUTING.md